*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   

}
body{
    background:url(g.png)no-repeat;
    background-size:cover;
}
nav{
    display:flex;
    justify-content: space-around;
    min-height: 8vh ;
    align-items: center;
    background-color:	#8a9dc4;
    font-family:'poppins',sans-serif;
}
.brand{
    color:rgb(77, 33, 33);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;

}
.nav-links{
    display:flex;
    justify-content:space-around;
    width:30%;

}
.nav-links a{
    color:whitesmoke;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
}
.nav-links li{
    list-style: none;
}
.nav-linkwrap{
    height: 22px;
    border-bottom:1x solid transparent;
    transition: border-bottom 0.5s;
}
.nav-linkwrap:hover{
    border-bottom:1x solid black;

}
.nav-linkwrap a:hover{
    color: black;
}
.box{
    width:600px;
    justify-content:space-between;
    background:rgba(110, 103, 103, 0.8);
    padding:40px;
    text-align:center;
    margin: auto;
    margin-top: 7%;
    color:black;
    font-family:'Century Gothic',sans-serif;
}
.boxss{
    width:600px;
    justify-content:space-between;
    background:rgba(182, 175, 175, 0.959);
    padding:40px;
    image-resolution: 10px;
    margin: auto;
    margin-top: 7%;
    color:black;
    font-family:'Century Gothic',sans-serif;
}
.boxs{
    width:600px;
    justify-content:space-between;
    background:rgb(250,250, 250);
    padding:40px;
    text-align:justify;
    margin: auto;
    margin-top: 7%;
    color:black;
    font-family:'Century Gothic',sans-serif;

}
.boxs h3{
    position: relative;
    text-align:right;
    right:170px;
    bottom:310px;
    font-size: xx-large;
   
}
.box-img{
    border-radius:20%;
}.box-img{
    border-radius:20%;
}
.home-title{
    font-family: Arial, Helvetica, sans-serif;
    color:aliceblue;

}
.avatar{
    margin-right:50%;
    position: relative;
    left: 400px;
   

}
.boxs icons {
    display:flex;
    font: bold;
    color:rgb(219, 228, 236);
}
.home-intro{
    font-family: Segoe Print;
    color:#030303;
    font-size: large;
}
.home-title{
    text-align: center;
    font-family: Traditional Chinese;
}